<!DOCTYPE html>
<html id="simpleViewer">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap-material-design.css">
        <link rel="stylesheet" type="text/css" href="./css/annotations.css">
        <link rel="stylesheet" type="text/css" href="./css/readium-all.css">
        <link rel="stylesheet" type="text/css" href="./css/material-design-icons.css">

        <script type="text/javascript" src="./font-faces/fonts.js"></script>
        <script type="text/javascript" src="./scripts/readium-js-viewer_all.js"></script>
        <script type="text/javascript" src="./reader.js"></script>
        <script type="text/javascript" data-main="./scripts/main" src="./scripts/require.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/bleadium.css">
    </head>

    <!-- This is all application-specific HTML -->
    <body id="readiumbody" data-epub="">
        <nav id="app-navbar" class="navbar" role="banner" aria-label="{{Strings.i18n_toolbar}}"></nav>
        <div id="app-container"></div>
        <!-- <script type="text/javascript" src="./scripts/bootstrap-material-design.js"></script> -->
    </body>
</html>
