// BASE
*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    background: $p5;
    height: 100%;
    font-size: 13px;
    color:$p5;
    display:table;
    width:100%;
}

body {
    background: $p3;
}

body,
div.rs {
    height: 100%;
    display: flex;
    flex-flow: column;
}
div.rs {
    /*z-index: 1;*/
    /*position: relative;*/
}

div {
    &#app {
        height: 100%;
    }
}

header {
    text-align: center;
    background: $p3;
    margin: 0 0 10px;
    img {
        width: $width1;
        display: block;
        margin: 10px auto;
    }
    small {
        display: block;
        margin: 3px auto 5px;
        width: $width1;
    }
}
.version {
    font-style: italic;
}
.error {
    border: 1px solid $p6;
    @at-root div#{&} {
        background: lighten($p6,35%);
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 0;
    }
    @at-root input#{&} {
        /*color:$p6;*/
    }
    &::-webkit-input-placeholder {
        color: rgba($p6, .3);
    }
}

footer {
    text-align: center;
    background: $p5;
    color: $p1;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
}

// general settings
a {
    &[not=".btn"] {
        &:link, &:visited {
            color: $p4;
        }
        &:hover, &:active {
            color:$p5;
            text-decoration: none;
        }
    }
}
.bw_dev {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $p2;
    opacity: .5;
    z-index:10000;
    ul {
        list-style: none;
        border-bottom: 1px dashed;
        margin-bottom: 5px;
        padding: 5px 0;
        a {
            &:link,
            &:visited {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.btn-full {
    width: 100%;
}
