// Bookshelf
.bookshelf {
    .card {
        overflow:hidden;
        .card-content,
        .card-title {
            padding: 10px;
        }
        .card-title {
            padding-bottom: 20px;
            font-size: 14px;
            background: rgba($p2, .7);
            width: 100%;
        }
        &.small,
        &.medium,
        &.large {
            .card-image {
                max-height: 70%;
                height:70%;
                overflow: visible;
            }
            .card-content {
                min-height: 30%;
                padding-top: 20px;
                position: relative;
                background:$p1;
            }
        }
        .btn-floating {
            right: 10px;
        }
        .material-icons {
            position: relative;
        }
    }
    .downloadProgress {
        font-size: 15px;
    }
    .item-title {
        strong,
        em {
            display: block;
        }
    }
    .bookType {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: rotate(-45deg);
        padding: 5px 0 0;
        color: $p1;
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 32px 32px 32px;
            border-color: transparent transparent $p7 transparent;
            z-index: -1;
            left: -20px;
            top: -8px;
        }
    }
    .insights {
        li {
            text-align: center;
        }
    }
    /*.bookshelf-item {
        transition: 1s;
    }*/
    /* Styling for List item only */
    .collection-item {
        position: relative;
        overflow: hidden;
        .btn-floating {
            @include vertical-align;
            z-index: 2;
        }
        .insights {
            margin-top: 20px;
        }
        .btn {
            float: right;
            margin-top: 20px;
        }
        .item-title {
            color: $p2;
        }
    }
}

/* This may be better being generic if it works */
span.badge {
    display: block;
    font-family: Roboto, sans-serif;
    min-width: initial;
    float: none;
    font-weight: 700;
    margin: 0;
    padding:0;
}
