// login
@keyframes backgroundImg {
    0% {
        background-image: url(../img/shutterstock_172185995.png);
    }
    33% {
        background-image: url(../img/shutterstock_20698438.png);
    }
    66% {
        background-image: url(../img/shutterstock_103186460.png);
    }
    100% {
        background-image: url(../img/shutterstock_172185995.png);
    }
}
#login {
    backface-visibility: hidden;
    [data-reactroot] {
        position: relative;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: backgroundImg;
        animation-duration: 18s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    form {
        margin: auto;
        width: $width1;
        background: rgba($p3, .8);
        padding: 20px;
        border-radius: 5px;
        &.login {
            flex: 0 1 auto;
        }
    }
}
